@model Online_Supermarket_Project.ModelView.ChangePasswordVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="account-details-form">
    <form asp-controller="Accounts" asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row g-4">
            <div class="col-12">
                <fieldset>
                    <legend>Password change</legend>
                    <div class="row g-4">
                        <div class="col-12">
                            <label for="current-pwd"> Current password (leave blank to leave unchanged) </label>
                            <input class="form-field" asp-for="PasswordNow" type="password" id="current-pwd" />
                            <span asp-validation-for="PasswordNow" class="text-danger"></span>

                        </div>
                        <div class="col-12">
                            <label for="new-pwd"> New password (leave blank to leave unchanged) </label>
                            <input class="form-field" asp-for="Password" type="password" id="new-pwd" />
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="col-12">
                            <label for="confirm-pwd">Confirm new password</label>
                            <input class="form-field" asp-for="ConfirmPassword" type="password" id="confirm-pwd" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-12">
                <button class="btn btn-dark btn-primary-hover">
                    Save Changes
                </button>
            </div>
        </div>
    </form>
</div>
