@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Start -->
<div class="breadcrumb" data-bg-image="/cusassets/images/bg/breadcrumb-bg-4.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h1 class="breadcrumb_title">Contact Us</h1>
                    <ul class="breadcrumb_list">
                        <li><a href="index.html">Home</a></li>
                        <li>Contact Us 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Contact Form Section Start -->
<div class="contact-section3">
    <div class="container-fluid g-0 section-padding-03">
        <div class="row g-0 align-items-center">
            <div class="col-md-6 col-12">
                <!-- Google Map Area Start -->
                <div class="google-map-area w-100" data-aos="fade-up" data-aos-duration="1000">
                    <iframe class="contact-map_two" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.1913176004566!2d105.78273465662423!3d21.017370495137037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454ab43c0c4db%3A0xdb6effebd6991106!2zVMOyYSBuaMOgIExhbmRtYXJrIDcy!5e0!3m2!1svi!2s!4v1714721139886!5m2!1svi!2s"></iframe>
                </div>
                <!-- Google Map Area Start -->
            </div>
            <div class="col-md-6 col-12">
                <div class="contact-section3_formbg">
                    <h2 class="contact-section3_form__title">Get A Quote</h2>
                    <p class="contact-section3_form__text">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis</p>
                    <form class="contact-section3_form" id="contact-form" action="https://htmldemo.net/bakerfresh/bakerfresh/cusassets/php/mail-2.php" method="post">
                        <div class="row">
                            <div class="col-12 form-p">
                                <div class="form-group">
                                    <input class="form-field" type="text" placeholder="Your Name*" name="name">
                                </div>
                            </div>
                            <div class="col-12 form-p">
                                <div class="form-group">
                                    <input class="form-field" type="email" placeholder="Email Address*" name="email">
                                </div>
                            </div>
                            <div class="col-12 form-p">
                                <div class="form-group">
                                    <textarea class="form-control form-field text-area" name="message" placeholder="Message*"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 form-p">
                                <div class="form-group mb-0 d-flex justify-content-start">
                                    <button class="btn btn-secondary btn-hover-primary" type="submit">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Message Notification -->
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container custom-container section-padding-03 pt-0">
        <div class="row row-cols-md-3 row-cols-1 content-list">
            <div class="col">
                <div class="contact-section3_content">
                    <span class="contact-section3_content__icon"><i class="lastudioicon lastudioicon-pin-3-2"></i></span>
                    <span class="contact-section3_content__title">Store Location</span>
                    <span class="contact-section3_content__text">6391 Elgin St. Celina, Delaware 10299 <br> 2464 Royal Ln. Mesa, New Jersey 45463</span>
                </div>
            </div>
            <div class="col">
                <div class="contact-section3_content">
                    <span class="contact-section3_content__icon"><i class="lastudioicon lastudioicon-phone-2"></i></span>
                    <span class="contact-section3_content__title">Phone Nummer</span>
                    <span class="contact-section3_content__text"><a href="tel:+880-123-456789">+880-123-456789</a><br><a href="tel:+880-123-456789">+880-123-456789</a></span>
                </div>
            </div>
            <div class="col">
                <div class="contact-section3_content">
                    <span class="contact-section3_content__icon"><i class="lastudioicon lastudioicon-mail"></i></span>
                    <span class="contact-section3_content__title">Email Address</span>
                    <span class="contact-section3_content__text"><a href="mailto:info@admin.com">info@admin.com</a> <br><a href="mailto:test@mail.com">test@mail.com</a></span>
                </div>
            </div>
        </div>
    </div>
</div>