@model Online_Supermarket_Project.Models.New

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = $"/tin-tuc/{Model.Alias}-{Model.NewId}.html";
}

<!-- Breadcrumb Section Start -->
<div class="breadcrumb" data-bg-image="/cusassets/images/bg/breadcrumb-bg-5.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h1 class="breadcrumb_title">@Model.Title</h1>
                    <ul class="breadcrumb_list">
                        <li><a href="/">Home</a></li>
                        <li>Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Product Section Start -->
<div class="blog-sidebar blog-sidebar-right">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12 section-padding-04">
                <div class="">
                    <div class="single-blog">
                        <div class="single-blog-image">
                            <img src="~/images/news/@Model.Thumb" alt="Single-Blog">
                        </div>
                        <div class="single-blog-content">
                            <ul class="blog-post-two__meta">
                                <li><a href="blog-details.html">Bakery</a></li>
                                <li>-</li>
                                <li><span>@Model.CreatedDate</span></li>
                            </ul>
                            <p>@Html.Raw(Model.Content)</p>
                            <div class="single-blog-banner">
                                <img src="~/images/news/@Model.Thumb" alt="Single-Blog">
                            </div>

                            <p class="single-blog-description">Vestibulum eu quam nec neque pellentesque efficitur id eget nisl. Proin porta est convallis lacus blandit pretium sed non enim. Maecenas lacinia non orci at aliquam. Donec finibus, urna bibendum ultricies laoreet, augue eros luctus sapien, ut euismod leo tortor ac enim. In hac habitasse platea dictumst. Sed cursus venenatis tellus, non lobortis diam volutpat sit amet. Sed tellus augue, hendrerit eu rutrum in, porttitor at metus. Mauris ac hendrerit metus. Phasellus mattis lectus commodo felis egestas, id accumsan justo ultrices. Phasellus aliquet, sem a placerat dapibus, enim purus dictum lacus, nec ultrices ante dui ac ante. Phasellus placerat, urna.</p>
                            <div class="single-blog-bottom">
                                <div class="col-auto">
                                    <div class="single-blog-tags">
                                        <span class="label">Tags:</span>
                                        <ul>
                                            <li><a href="blog-details.html">bakery,</a></li>
                                            <li><a href="blog-details.html">cake</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="single-blog-share">
                                        <span class="label">Share:</span>
                                        <div class="social">
                                            <a href="#"><i class="lastudioicon-b-facebook"></i></a>
                                            <a href="#"><i class="lastudioicon-b-twitter"></i></a>
                                            <a href="#"><i class="lastudioicon-b-pinterest"></i></a>
                                            <a href="#"><i class="lastudioicon-b-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single-blog-comments">
                                <h4 class="single-blog-title">Leave a Reply</h4>
                                <form class="contact-section2_form" id="contact-form" action="#" method="post">
                                    <div class="row">
                                        <div class="col-sm-4 col-12 form-p">
                                            <div class="form-group">
                                                <input class="form-field" type="text" placeholder="First Name*">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 form-p">
                                            <div class="form-group">
                                                <input class="form-field" type="email" placeholder="Email*">
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-12 form-p">
                                            <div class="form-group">
                                                <input class="form-field" type="text" placeholder="Website">
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-p">
                                            <div class="form-group">
                                                <textarea class="form-control text-area" name="con_message" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-p">
                                            <div class="form-group mb-0 d-flex justify-content-start">
                                                <button class="btn btn-secondary btn-hover-primary rounded-0" type="submit">Post comments</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Section End -->
