@model Online_Supermarket_Project.Models.Page

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>
        Thêm mới Page
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-area="Admin" asp-controller="AdminPages" asp-action="Index">QL Page</a></li>
        <li class="active">Thêm mới Page</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <a class="btn btn-success" asp-area="Admin" asp-controller="AdminPages" asp-action="Index">Back to List</a>
            </div>
            <form role="form" asp-controller="AdminPages" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Page Name</label>
                            <input type="text" class="form-control" asp-for="PageName" placeholder="Page Name">
                            <span asp-validation-for="PageName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Title</label>
                            <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Image</label>
                            <input name="fImage" type="file" class="form-control" asp-for="Thumb" placeholder="Stock">
                            <span asp-validation-for="Thumb" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6" style="margin-top:27px">
                            <label>Public<input style="font-size:20px;margin-left:15px" type="checkbox" asp-for="Published"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contents</label>
                        <textarea name="editor" id="editor"></textarea>
                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" fdprocessedid="6rbro">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}

