
<!DOCTYPE html>
<html class="no-js" lang="en">
<!-- Mirrored from htmldemo.net/bakerfresh/bakerfresh/index-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Sep 2023 11:03:45 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/CusAssets/images/favicon.png" />

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->
    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Allura&amp;family=Handlee&amp;family=Inter:wght@300;400;500;600;700&amp;family=Comfortaa:wght@300;400;500;600;700&amp;family=Montaga&amp;family=Pacifico&amp;family=Fredericka+the+Great&amp;family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Yellowtail&amp;display=swap"
          rel="stylesheet" />
    <link href="~/CusAssets/css/animate.min.css" rel="stylesheet" />
    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="~/CusAssets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CusAssets/css/vendor/lastudioicons.css" />
    <link rel="stylesheet" href="~/CusAssets/css/vendor/dliconoutline.css" />

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="~/CusAssets/css/animate.min.css" />
    <link rel="stylesheet" href="~/CusAssets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/CusAssets/css/ion.rangeSlider.min.css" />
    <link rel="stylesheet" href="~/CusAssets/css/lightgallery-bundle.min.css" />
    <link rel="stylesheet" href="~/CusAssets/css/magnific-popup.css" />
    <link href="~/cusassets/css/btn.css" rel="stylesheet" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/CusAssets/css/style.css" />
</head>

<body>
    <!-- Header Start -->
    @await Html.PartialAsync("_HeaderPartialView.cshtml")

    @RenderBody();

    @await Html.PartialAsync("_FooterPartialView.cshtml")

    <!-- JS Vendor, Plugins & Activation Script Files -->
    <!-- Vendors JS -->

    <script src="~/CusAssets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="~/CusAssets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/CusAssets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/CusAssets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="~/cusassets/js/swiper-bundle.min.js"></script>
    <script src="~/CusAssets/js/countdown.min.js"></script>
    <script src="~/CusAssets/js/ion.rangeSlider.min.js"></script>
    <script src="~/CusAssets/js/lightgallery.min.js"></script>
    <script src="~/CusAssets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/CusAssets/js/ajax.js"></script>
    <script src="~/CusAssets/js/jquery.validate.min.js"></script>
    <script src="~/cusassets/js/btn.js"></script>
    <script src="~/cusassets/js/add-cart.js"></script>
    <!-- Activation JS -->
    <script src="~/CusAssets/js/main.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>

<!-- Mirrored from htmldemo.net/bakerfresh/bakerfresh/index-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Sep 2023 11:04:11 GMT -->
</html>
