@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@model New
<!-- Blog Details Hero Begin -->
<section class="blog-details-hero set-bg" data-setbg="/images/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>News</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <h3>@Model.Title</h3>
                    <img src="@Url.Content("/images/news/"+Model.Thumb)" alt="">
                    <p>
                        @Model.Content
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>