@model IEnumerable<New>
@foreach (var item in Model)
{
    <div class="blog__sidebar__recent">
        <a href="#" class="blog__sidebar__recent__item">
            <div class="blog__sidebar__recent__item__pic">
                <img src="@Url.Content("/images/news/" + item.Thumb)" alt="" style="width: 200px; object-fit: cover;">
            </div>
            <div class="blog__sidebar__recent__item__text">
                <h6>@item.Title</h6>
                <span>MAR 05, 2019</span>
            </div>
        </a>
    </div>
}
