
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/Assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-th"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">FE</small>
                    </span>
                </a>
            </li>

            <li>
                <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">
                    <i class="fa fa-dashboard"></i> <span>Quản Lý Sản Phẩm</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quản Lý Đơn Hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quản Lý Khách Hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index"><i class="fa fa-circle-o"></i>Danh sách Khách Hàng</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Tìm Kiếm Khách Hàng</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quản Lý Hệ Thống</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index"><i class="fa fa-circle-o"></i>Tài Khoản</a></li>
                    <li><a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index"><i class="fa fa-circle-o"></i>Danh Mục</a></li>
                    <li><a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index"><i class="fa fa-circle-o"></i>Quyền Truy Cập</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Tỉnh Thành</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quản Lý Doanh Số</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                </ul>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminNews" asp-action="Index">
                    <i class="fa fa-dashboard"></i> <span>Quản Lý Tin Tức</span>
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index">
                    <i class="fa fa-dashboard"></i> <span>Quản Lý Pages</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quản Lý Shipper</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                </ul>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-th"></i> <span>Widgets</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">Hot</small>
                    </span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>