@model Online_Supermarket_Project.Models.New

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>
        Update New
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a asp-area="Admin" asp-controller="AdminNews" asp-action="Index">News Management</a></li>
        <li class="active">Update New</li>
    </ol>
</section>

<section class="content">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <a class="btn btn-success" asp-area="Admin" asp-controller="AdminNews" asp-action="Index">Back to List</a>
            </div>
            <form role="form" asp-controller="AdminNews" asp-action="Edit" asp-route-id="@Model.NewId" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="NewId" />
                <input type="hidden" asp-for="Thumb" />
                <input type="hidden" asp-for="CreatedDate" />
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Title</label>
                            <input type="text" class="form-control" asp-for="Title" placeholder="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Short Content</label>
                            <input type="text" class="form-control" asp-for="ShortContent" placeholder="Short Content">
                            <span asp-validation-for="ShortContent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <div class="form-group col-md-6">
                                <label>Image</label>
                                <input name="fImage" type="file" class="form-control" asp-for="Thumb" placeholder="Stock">
                                <span asp-validation-for="Thumb" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <img src="/images/news/@Model.Thumb" alt="User Image" width="100px" height="80px">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Public<input style="font-size:20px;margin-left:15px" type="checkbox" asp-for="Published"></label><br />
                            <label>Hot<input style="font-size:20px;margin-left:15px" type="checkbox" asp-for="IsHot"></label><br />
                            <label>New Feed<input style="font-size:20px;margin-left:15px" type="checkbox" asp-for="IsNewFeed"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Contents</label>
                        <textarea name="editor" id="editor">@Model.Content</textarea>
                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" fdprocessedid="6rbro">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
